
// FONT FAMILY

@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf);
}
$main-font: montserrat;

// COLORS

$primary-color: #0095DD;
$bg-color: #9fdfff;
$dark-font-color: #212427;
