* {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  color: $dark-font-color;
}
.center {
  max-width: 200px;
  margin: 20px auto 0 auto;
  text-align: center;
}

/* CANVAS */

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

/* TEXT ELEMENTS */

h1, h3 {
  text-align: center;
}
h1, h2 {
  color: white;
  background-color: $primary-color;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 10px;
}
input[type=text] {
  margin: 0 5px 0 5px;
}

/* BUTTONS */

.btn {
  color: white;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  margin-left: 5px;
  padding: 2px;
  border-radius: 5px;

  &.center {
    display: block;
    max-width: 100px;
    margin: 20px auto 0 auto;
  }
  &:hover {
    cursor: pointer;
    color: $dark-font-color;
    background-color: $bg-color;
    border: 1px solid $bg-color;
  }
}
